.video-title {
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5rem auto;   
}

h2 {
    text-align: center;
    padding-top: 1.5rem;
}

.modal .btn:hover, .modal .btn:active {
    background-color: rgb(57, 66, 148);
    color: rgb(230, 230, 230);
    border-color: rgb(230, 230, 230);
}

.modal-content p, .modal-content h3 {
    margin: 1.5rem auto;
}
